@charset "UTF-8";

* {
    font-family: "Jetbrains Mono", monospace;
    color: white;
    font-size: 20px;
}


body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    height: 100vh;
}

main {
    padding: 1%;
}

a {
    color: rgb(0, 255, 26);
}

img {
    max-width: 100%;
}

.navigation-bar li {
    list-style-type: none;
}

.navigation-bar span {
    margin-right: 1%;
    margin-left: 2%;
}

.navigation-bar a {
    text-decoration: none;
}

.console {
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    margin-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
}

.console a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
}

.command {
    color: yellow;
}

.user {
    color: blue;
}

.wall-of-text p {
    margin: 2px;
}

.important-line {
    margin: 10px 0px;
    width: 100%;
}

.important-line * {
    color: red;
}

.school,
.volunteering,
.family,
.me,
.assignment-1,
.assignment-2,
.abstracts, 
.phrases,
.background,
.methodology,
.pictures,
.references,
.feb-fair-poster {
    display: grid;
    margin: 20px;
    justify-items: center;
    align-items: center;
    gap: 2%;
    grid-auto-flow: column;    
}

.pictures {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.volunteering,
.me, 
.assignment-1,
.references,
.abstracts {
    grid-template-columns: 2fr 1fr;
}

.school,
.family,
.assignment-2,
.feb-fair-poster {
    grid-template-columns: 1fr 2fr;
}

article h2,
h1,
h1.research-proposal a {
    font-size: 30px;
}

.research-proposal {
    text-align: center;
}

.images {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.no-contents-error p {
    color: red;
}

.green {
    color: rgb(0, 255, 26);
}