@charset "UTF-8";

* {
    font-family: "Jetbrains Mono", monospace;
    color: white;
    font-size: large;
}


body {
    margin: 1%;
    background-color: rgb(27, 27, 27);
    height: 100vh;
}

main {
    width: 100vw;
    /* make this the parent of all the content */
}

a {
    color: rgb(0, 255, 26);
}

.base-image {
    width: 35%;
}


.navigation-bar li {
    list-style-type: none;
}

.navigation-bar span {
    margin-right: 1%;
    margin-left: 2%;
}

.navigation-bar a {
    text-decoration: none;
}

.console {
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    margin-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
}

.console a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
}

.command {
    color: yellow;
}

.user {
    color: blue;
}

.wall-of-text p {
    margin: 2px;
}

.wall-of-text .important-line {
    color: red;
}

.school,
.volunteering,
.family,
.me {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.no-contents-error p {
    color: red;
}